bottleneck
colorama
colorcet
cx_Freeze
h5py
ipython
jupyter_rfb
matplotlib
numba
numpy
opencv_python
packaging
pydualsense
PyOpenGL
PyQt6
PySide6
PySide6_Addons
PySide6_Essentials
pytest
pyzmq
qtconsole
scipy
setuptools
shiboken6
sip
Sphinx
superqt
fonticon-materialdesignicons7
git+https://github.com/pyqtgraph/pyqtgraph@master
